<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>liuhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>liuhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:412b3d2f8b67f596052778f79e516175:1/1$</string>
            <key>textureFileName</key>
            <string>face.png</string>
        </dict>
    </dict>
</plist>
